@import './base.css';
/* @import '../../node_modules/buefy/src/scss/buefy.scss';
@import './variables.scss'; */

#web {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: #965c00 !important; /* Change #3498db to your desired color */
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
